
<section class="l-header">
    <header>
        <div class="layout">
            <div class="l-header__wrapper">
                <div class="l-header__title-container">
                    <span class="l-header__title">AppStarter</span>
                </div>
                <nav class="l-header__desktop-menu">
                    <ul class="l-header__list">
                        <li class="l-header__item">
                            <a class="l-header__link" href="#features">Features</a>
                        </li>
                        <li class="l-header__item">
                            <a class="l-header__link" href="#video-tour">Video Tour</a>
                        </li>
                        <li class="l-header__item">
                            <a class="l-header__link" href="#reviews">Reviews</a>
                        </li>
                        <li class="l-header__item">
                            <a class="l-header__link" href="#pricing">Pricing</a>
                        </li>
                        <li class="l-header__item">
                            <Button class="c-button--white c-button--upper">get it free</Button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</section>

