
<footer class="footer">
	<div class="l-footer">
		<div class="layout">
			<div class="l-footer__inner">
				<h5 class="l-footer__title">AppStarter</h5>
				<div class="l-footer__creator-wr">
					<div class="l-footer__creator-block">
						<div class="l-footer__creator-inner">
							<span class="l-footer__creator-text">Created with</span>
							<img class="l-footer__creator-icon" src="icons/heart_icon.png" alt="heart_icon">
							<span class="l-footer__creator-text">by</span>
							<h6 class="l-footer__author no-margin">Yurii Nibit</h6>
						</div>
					</div>
					<div class="l-footer__creator-block">
						<span class="l-footer__copyright">© AppStarter, 2020</span>
					</div>
				</div>
				<div class="l-footer__social">
					<div class="l-footer__social-icon-wr" id="twitter">
						<a class="l-footer__social-link" href="https://twitter.com/?lang=ru" target="_blank">
							<img class="l-footer__social-icon" src="icons/twitter_icon.png" alt="twitter_icon">
						</a>
					</div>
					<div class="l-footer__social-icon-wr" id="facebook">
						<a class="l-footer__social-link" href="https://m.facebook.com/" target="_blank">
							<img class="l-footer__social-icon" src="icons/facebook_Icon.png" alt="facebook_icon">
						</a>
					</div>
					<div class="l-footer__social-icon-wr" id="insta">
						<a class="l-footer__social-link" href="https://www.instagram.com/?hl=ru" target="_blank">
							<img class="l-footer__social-icon" src="icons/Instagram_Icon.png" alt="Instagram_icon">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

